
.activity {
    padding-bottom: 94px;
    font-family:$body-font;

    &__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
    &__item {
        position: relative;
    }

    &__title {
        font-size: 36px;
        letter-spacing: 0.2;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        color: $text-color;
    }

    &__text {
        padding: 27px 80px;
        background-color: $activity-text-bg;
        font-weight: 700;
        text-transform: uppercase;
        color: $title-text-color;
        position: absolute;
        bottom: 0.5px;
        width: 370px;
        height: 70px;
        text-align: center;
    }

    &__img {
        width: 370px;
        height: 294px;
        display: block;
    }
}
