
.activity {
    padding-bottom: 94px;
    font-family:$body-font;

    &__list {
        @media screen and (min-width: 1200px) {
            gap:30px;
        }
        display: flex;
        flex-direction: row;
    }
    
    &__item {
        position: relative;
    }

    &__title {
        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
        letter-spacing: 0.2;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        color: $text-color;
    }

    &__text {
        @media screen and (min-width: 1200px) {
            padding: 27px 80px;
            width: 370px;
            height: 70px;
        }
        background-color: $activity-text-bg;
        font-weight: 700;
        text-transform: uppercase;
        color: $title-text-color;
        position: absolute;
        bottom: 0.5px;
        text-align: center;
    }

    &__img {
        @media screen and (min-width: 1200px) {
            width: 370px;
            height: 294px;
        }
        display: block;
    }
}
