


.details {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        flex-direction: row;
        font-family:$body-font;
        gap: 35px;
    }

    &__subtitle {
        font-weight: 700;
        color: $text-color;
        font-size: 14px;
        line-height: 1em;
        letter-spacing: 0.03em;
        font-family: $body-font;
    }

    &__desc {
        font-size: 14px;
        padding-top: 10px;
        font-weight: 400;
        color: $text-p-color;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    &__item {
        &:nth-child(1)::before {
            @extend %details-image;
            background-image: url(../image/antenna.png);
        }

        &:nth-child(2)::before {
            @extend %details-image;
            background-image: url(../image/clock.png);
        }

        &:nth-child(3)::before {
            @extend %details-image;
            background-image: url(../image/diagram.png);
        }

        &:nth-child(4)::before {
            @extend %details-image;
            background-image: url(../image/astronaut.png);
        }
    }
}

