.header-list a:hover {
    color: $hover-color;
}

.header-item {
    position: relative;
}

.header-item:nth-child(1) .header-link::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: $hover-color;
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(2) .header-link:hover::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: $hover-color;
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}

.header-item:nth-child(3) .header-link:hover::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: $hover-color;
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 1;
}


.header-item:nth-child(2) .header-link::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: $hover-color;
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-item:nth-child(3) .header-link::after {
    content: "";
    width: 68px;
    height: 4px;
    background-color: $hover-color;
    display: flex;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-reference:hover {
    color: $hover-color;
}

.header-item:nth-child(1) .header-link {
    color: $hover-color;
}

.header-element:nth-child(1):hover .header-icon {
    fill: $hover-color;
}

.header-element:nth-child(2):hover .header-icon {
    fill: $hover-color;
}

.header-element:nth-child(1) .header-icon {
    width: 16px;
    height: 12px;
    fill: $text-p-color;
    transition: fill 250ms ease;
}

.header-element:nth-child(2) .header-icon {
    width: 10px;
    height: 16px;
    fill: $text-p-color;
    transition: fill 250ms ease;
}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.header-span {
    color: $span-logo-color;
    animation: colorspan 2s infinite alternate;
}



@keyframes colorlogo {
    0% {
        color: $text-color;
    }

    100% {
        color: $span-logo-color;
    }
}

@keyframes colorspan {
    0% {
        color: $span-logo-color;
    }

    100% {
        color: $text-color;
    }
}



.header-list {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-list a {
    color: $text-color;
    font-weight: 500;
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing: 0.06em;
    line-height: 1em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.header-roster a {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    color: $text-p-color;
    letter-spacing: 0.06em;
    line-height: 1em;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}



.header-wrapper {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.header-roster {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.header-text {
    color: $text-color;
    font-weight: 700;
    font-family: var(--logo-font);
    font-size: 26px;
    letter-spacing: 0.03%;
    line-height: 1em;
    padding-right: 93px;
    animation: colorlogo 2s infinite alternate;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}