
.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
    border-bottom: 1px solid $header-border-color;
    &__list {
        gap: 52px;
        display: flex;
        flex-direction: row;
    }

    &__item {
        position: relative;
        &:nth-child(1) .header__link::after {
            width: 48px;
            @extend %header-link;
            transition-property: opacity;
            @extend %transition;
        }
        &:nth-child(2) .header__link::after {
            width: 78px;
            @extend %header-link;
            transition-property: opacity;
            @extend %transition;
        }
        &:nth-child(3) .header__link::after {
            width: 68px;
            @extend %header-link;
            transition-property: opacity;
            @extend %transition;
        }
        &:nth-child(1) .header__link:hover::after {
            @extend %header-link;
            opacity: 1;
        }
        &:nth-child(2) .header__link:hover::after {
            @extend %header-link;
            opacity: 1;
        }
        &:nth-child(3) .header__link:hover::after {
            @extend %header-link;
            opacity: 1;
        }
    }

    &__link {
        &:hover {
            color: $hover-color;
        }
        color: $text-color;
        font-weight: 500;
        letter-spacing: 0.06em;
        line-height: 1em;
        transition-property: color;
        @extend %transition;
    }

    &__span {
        color: $span-logo-color;
        animation: colorspan 2s infinite alternate;
    }

    &__roster {
        display: flex;
        gap: 52px;
        flex-direction: row;
    }

    &__text {
        color: $text-color;
        font-weight: 700;
        font-family: $logo-font;
        letter-spacing: 0.03%;
        line-height: 1em;
        padding-right: 93px;
        animation: colorlogo 2s infinite alternate;
        font-size: 26px;

    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    &__reference {
        &:hover {
            color: $hover-color;
        }
        
        font-weight: 500;
        display: flex;
        gap: 10px;
        color: $text-p-color;
        letter-spacing: 0.06em;
        line-height: 1em;
        transition-property: color;
        @extend %transition;
    }

    &__element {
        &:nth-child(1):hover .header__icon {
            fill: $hover-color;
        }
        &:nth-child(2):hover .header__icon {
            fill: $hover-color;        
        }

        &:nth-child(1) .header__icon {
            width: 16px;
            height: 12px;
            @extend %header-icon
        }
        &:nth-child(2) .header__icon {
            width: 10px;
            height: 16px;
            @extend %header-icon
        }
    }
}

@keyframes colorlogo {
    0% {
        color: $text-color;
    }

    100% {
        color: $span-logo-color;
    }
}

@keyframes colorspan {
    0% {
        color: $span-logo-color;
    }

    100% {
        color: $text-color;
    }
}



