.buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.buttons {
    padding-top: 94px;
}


.buttons-btn {
    padding: 6px 25px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-family: var(--body-font);
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}


.buttons-btn:hover {
    background-color: $hover-color;
    color: $title-text-color;
}