




.buttons {
    padding-top: 94px;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }

    &__btn {
        padding: 6px 25px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        line-height: 26px;
        font-size: 16px;
        color: $buttons-text-color;
        transition-property: background-color;
        font-family: $body-font;
        @extend %transition;
        &:hover {
            background-color: $hover-color;
            color: $title-text-color;
        }
    }
}





