@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:$body-font;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
    @media screen and (min-width: 768px) {
        width: 755;
    }
}
