
$background-button-color: #2196F3;
$text-color: #212121;
$text-p-color: #757575;
$background-section-color: #2F303A;
$background-team-color: #F5F4FA;
$title-text-color: #FFFFFF;
$footer-text-color: rgba(255, 255, 255, 0.6);
$header-background-color: #ECECEC;
$background-all-portfolio-color: #EEEEEE;
$span-logo-color: #2196F3;
$hover-color: #2196F3;
$portfolio-button-color: #F5F4FA;
$stroke-color: #EEEEEE;
$icons-background-color: #AFB1B8;
$textarea-background-color: rgba(117, 117, 117, 1);
$input-border-color: rgba(33, 33, 33, 0.2);
$footer-reference-background-color: rgba(255, 255, 255, 0.1);
$brief-item-hover-color: rgba(0, 0, 0, 0.16);
$team-shadow-color: rgba(0, 0, 0, 0.2);
$modal-close-border-color: rgba(0, 0, 0, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.1);
$body-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$activity-text-bg: rgba(47, 48, 58, 0.8);
